.hikvision h1{
    position: relative;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
}
.hikvision p{
    font-family: 'Century Gothic';
    font-style: normal;
}

.hikvision .banner{
    position: relative;
    width: 100%;
    height: 474px;
    border-radius: 50px;	
}
.hikvision .banner.top{
    top: 60px;
}

.hikvision p{
    margin:0;
}
.hikvision .tblock{
    display: inline-grid;
    float: right;
}
.hikvision .banner-tblock{
    display: block;
    position: relative;
    width: 457px;
    height: 145px;
    float: right;
    top: 52px;
    right: 20px;
    background: #DF152D;
    border-radius: 187px;
    margin: 20px;
    }
.hikvision .banner .p-head{
    position: relative;
    max-width: 493px;
    width: -webkit-fill-available;
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    left: 50px;
    top: 24px;
}
.hikvision .banner p{
    position: relative;
    width: 273px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
    left: 50px;
    top: 24px;
}
.hikvision .img-banner{
    max-height: 1000px;
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.hikvision .banner.top .img-banner{
    max-height: 474px;
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.hikvision .head-content p{
    position: relative;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.hikvision .head-content .p-head{
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
}
.hikvision .head-content{
    margin-top: 8%;
}
.hikvision .red-button{
    background: #DF152D;
    border-radius: 187px;	
    padding:10px 20px;
    margin: 0px 5px 15px 5px;
}
.hikvision .red-button-group{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 40px 5px 40px 5px;
}
.hikvision .red-divider{
    width: 70%;
    background: #DF152D;
    height: 5px;
    border: none;
}
.hikvision .left-right-blocks .h1{
    margin: 40px 0px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
}
.hikvision .left-right-blocks{
    margin-bottom: 5%;   
}
.hikvision .left-right-blocks.top{
    margin-top: 25%; 
}
.hikvision .left-right-blocks .columns{
    display: flex;
    flex-wrap: wrap;
}
.hikvision .left-right-blocks .columns.margin{
    margin: 60px 0;
}
.hikvision .left-right-blocks .column{
    width: 50%;
}
.hikvision .left-right-blocks .column .cat-image{
    margin-top: -95px;
}
.hikvision .cat-head{
    color: #DF152D;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 0;
}
.bigblock .f-color li{
    color: #000;
}
.bigblock .f-color{
    max-width: 80%;
}
.hikvision .cat-padding{
    padding: 40px 0;
}
.hikvision .add-app{
    color: #000;
    font-size: 26px;
    padding: 20px 0;
}
.hikvision .app-img{
    display:flex;
    flex-wrap:wrap;
}
.hikvision .app-img img{
    max-width: 75px;
    object-fit: contain;
    margin-left: 25px;
}
.cat-padding span{
    color: #DF152D;
}
.cat-padding-comment span{
    color: #DF152D;
}
.hikvision .cat-padding-comment{
    padding-bottom:40px;
}
.cat-padding-comment.max-width{
    max-width:90%;
}
.red-button-style-hik{
	background: #DF152D;
	border-radius: 187px;
	width: 75%;
    display: block;
    text-align: center;
    padding: 20px 10px;
    font-size: 26px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 15px auto;
}
.hik-buttons{
	display: block;
    margin: auto;
    text-align: center;
}
.cat-img{
    display: block;
    max-width: 65%;
    margin: auto;
}
.cat-container{
    margin: 35px 75px;
}

/*Animation*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    }

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
/*Animation*/

/*Responsive*/
@media (max-width: 992px) {
    .hikvision h1, .hikvision .left-right-blocks .h1 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .hikvision .left-right-blocks .column {
        width: 100%;
    }
    .hikvision .banner-tblock {
            width: 100%;
            height: 100%;
            float: unset;
            right: unset;
            border-radius: unset;
                display: block;
                position: relative;
                width: 100%;
                height: 150px;
                float: right;
                top: 52px;
                right: unset;
                background: unset;
                margin: unset;
    }
    .hikvision .banner-tblock {
        top: unset;
    }
    .hikvision .banner .p-head {
        font-size: 20px;
    line-height: 25px;
        left: unset;
        padding: 0 50px;
    }
    .hikvision .banner p {
        width: unset;
        left: unset;
        padding: 0 50px;
    }
    .hikvision .banner.top .img-banner {
        filter: brightness(0.5);
        height: 300px;
    }
    .hikvision .banner.top {
        top: unset;
    }
    .hikvision .banner{
        height: 320px;
    }
    .hikvision .head-content .p-head {
        font-size: 16px;
        line-height: 30px;
    }
    .hikvision .left-right-blocks .columns.margin {
        margin: unset;
    }
    .hikvision .cat-padding {
        padding: unset;
    }
    .hikvision .app-img img {
        max-width: 55px;
        margin-left: 10px;
    }
    .hikvision .left-right-blocks .column .cat-image {
        margin-top: unset;
    }
    .hikvision .add-app {
        font-size: 20px;
    }
    .hikvision .cat-padding-comment {
        padding-bottom: unset;
    }
    .red-button-style-hik {
        width:100%;
        font-size: 18px;
    }
    .hikvision .cat-head {
        font-size: 22px;
    }
    .cat-img{
        display: block;
        max-width: 80%;
        margin: 60px auto;
    }
    .cat-container {
        margin: unset;
    }
}
@media (max-width: 480px) {
    .hikvision .head-content {
        margin-top: 18%;
    }
}
@media (max-width: 481px){
    .hikvision .banner{
        height: 255px;
    }
}
/*Responsive*/